@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Lexend";
    src: url("../assets/fonts/Lexend-VariableFont.ttf") format("ttf");
  }

  @font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-VariableFont.ttf") format("ttf");
  }

  * {
    box-sizing: border-box;
  }

  body {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    min-height: 100vh;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Lexend", sans-serif;
  }

  button {
    cursor: pointer;
  }

  button:disabled {
    cursor: not-allowed;
  }
}
