@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Lexend";
    src: url("../assets/fonts/Lexend-VariableFont.ttf");
  }

  @font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-VariableFont.ttf");
  }

  * {
    @apply box-border;
  }

  body {
    @apply font-Inter text-base font-normal min-h-screen;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-Lexend;
  }

  button {
    @apply cursor-pointer;
  }

  button:disabled {
    @apply cursor-not-allowed;
  }

  ul,
  ol,
  li {
    list-style: none;
  }
}
